
 @media (min-width: 501px)  and (max-width: 1100px) {
 .work-cards-wrapper {
    padding: 1rem 0.2rem;
  }

  #hero-section {
    max-width: 70vw;
    flex-wrap: wrap;
    padding-top: 10rem;
  }
  .fullname {
    font-size: 1.7rem;
    line-height: 2rem;
   }
   .brief {
    font-size: 1.4rem;
    line-height: 1.7;
   }
   .current-work {
    font-size: 1.2rem;
   }
  .hero-btns button {
   font-size: 0.9rem;
  }

  .contact-form {
    max-width: 370px;
  }
}



@media screen  and (max-width: 500px) {


    nav {
      padding: 1.3rem 1.9rem;
      position: sticky;
      /* z-index: 1;
      background: none; */
    }
    nav ul {
    display: none;
    }
    
    .logo {
      font-size: 20px;
    }


    /* STYLING the menu bar */
    .menu-container {
      display: inline-block;
      cursor: pointer;
      /* height: 2px; */
    }
    
    .bar1, .bar2, .bar3 {
      width: 22px;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.8);
      margin: 4px 0;
      transition: 0.4s;
    }

    /* Rotate first bar */
  .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Styling the sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}




    /* HERO SECTION */
    #hero-section {
      max-width: 70vw;
      flex-wrap: wrap;
      padding-top: 10rem;
      margin-top: -5.5rem;
    }
   .fullname {
    font-size: 1.4rem;
    line-height: 2rem;
   }
   .brief {
    font-size: 1.2rem;
    line-height: 2rem;
   }
   .current-work {
    font-size: 1.1rem;
   }
  .hero-btns button {
   font-size: 0.8rem;
  }

  /* ABOUT SECTION */
  .about-content {
    padding-top: 0.5rem;
  }
  .about-brief {
    width: 70vw;
  }


  /* WORK SECTION */
  .work-cards-wrapper {
    padding: 1rem 0.2rem;
  }

  /* CONTACT SECTION */
  .contact-form {
    max-width: 300px;
  }

 /* Socials */

  .socials svg {
    width: 1.1rem;
    height: 1.5rem;
  }
  .contact-form {
    max-width: 365px;
    margin: auto;
  }
  .input-field{
    width: 300px;
  }
  .contact-section form{
    width: 330px;
  }
  .send-btn {
    width: 300px;
  }

  .connect-title {
    /* margin-top: 0.8rem; */
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;
    font-size: 35px;
}

}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }