@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



/* Variables */
:root {
  --font-family: "Lato", sans-serif;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --primary-color: #fa0251;
  --secondary-color: #eaeaea;
}

html {
  scroll-behavior: smooth;
  
}

/* Resetting the browser settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: #000;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.header {
  background-image: url("/images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 95vh;
  position: relative;
 

}
.header-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 95vh;
  width: 100%;
  top: 0;
  position: absolute;
  /* margin-top: 5rem; */
}

/* Styling the navbar */

nav {
  position: sticky;
  top: 0;
  /* left: 0; */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.logo {
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
}
.logo a {
  color: #fa0251;
  cursor: pointer;
  text-decoration: none;

}
nav ul {
  display: flex;
  gap: 2.5rem;
  color: white;
}

nav ul a {
  transition: var(--transition);
  text-decoration: none;
  color: white;
  cursor: pointer;
}
nav ul a:hover {
  color: #fa0251
}
nav ul a:active{
  border-bottom: 1px solid #fff ;
  padding-bottom: 0.4rem;
}


/* Styling the Hero section */
#hero-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70vw;
  margin: auto;
  gap: 1.5rem;
  padding-top: 16rem;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin-top: -3.9rem;
  z-index: 1;
  line-height: 1.7;

}
.fullname {
  font-size: 32px;
}
.brief {
  text-align: left;
  font-size: 25px;
 
}
.current-work {
  font-size: 22px;
}

.hero-btns button {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 3rem;
  letter-spacing: 1px;
  width: 150px;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  font-size: 13px;
  font-weight: bold;
}
button:hover {
  opacity: 0.8;
}
.download-cv {
  background-color: #fa0251;
}
.download-cv a {
  color: rgba(255, 255, 255, 0.9);
}
.contact-me a {
  color: #fa0251;
}

/* STYLING THE SKILLS SECTION */

.skills {
  /* border: 5px solid red; */
  /* padding: rem ; */
  background-color: black
 }
 
 .skills h2 {
   color: var(--primary-color);
   padding-top: 2rem;
   text-align: center;

 }
 
 .main-skills {
   width: 95vw;
   margin: auto;
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
   gap: 1rem;
   /* background-color: aqua; */
   border: none;
   padding: 2rem;
 }
 
 .skill-block {
   padding: 10% 10%;
 }
 
 .web-dev{
   background-color: lightgrey
 }
 .design{
   background-color: lightgrey;
 }
 


/* STYLING THE ABOUT SECTION */
.about-section {
  background-color: #000;
}
.about-section h2 {
  text-align: center;
  padding: 2.6rem 3rem;
  color: #fa0251;
}
.about-content {
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.about-section img {
  width: 400px;
  height: auto;
}
.about-brief {
  text-align: justify;
  width: 400px;
  height: auto;
  font-size: large;
  color: rgba(255, 255, 255, 0.932);
  line-height: var(--line-height);
}

/* styling the photos section */
.Tiidelab-images h3 {
  color: #fff;
}
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: auto;
}

/* STYLING THE WORKS SECTION */
.work-section {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem 2rem;
  
}
.work-section h2 {
  color: var(--primary-color);
  padding: 2rem 3rem;
  text-align: center;
}
.work-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-content: center;
  gap: 50px;
  padding: 1rem 10rem;
  
}
.work-cards {
  padding: 15px;
  box-shadow: 0 4px 9px 0 #7c7c7c;
  background-color: rgba(255, 255, 255, 0.932);
  width: 250px;
  text-align: left;
}

.work-cards img {
  /* max-width: 200px; */
  height: 100px;
  width: 100%;
}
.work-cards h3,
p {
  margin-top: 5px;
}
.work-cards h3 {
  color: var(--primary-color);
}
.work-skills {
  text-align: center;
}
.work-skills span {
  font-weight: bold;
  margin-right: 8px;
  /* color: rgb(181, 2, 2); */
  margin-bottom: 2px;
}
.work-cards a,
.work-links {
  text-align: center;
  color: var(--primary-color);
  margin-right: 8px;
}
.work-links a:hover {
  opacity: 0.8;
}


/* styling the image gallery */
.image-grid {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  padding: 3rem;
}

#Tiidelab-images h3 {
 color: #fff;
 text-align: center;
}


/* STYLING THE CONTACT ME SECTION */
.contact-section {
  background-color: #000;
}

.contact-form {
  background-color: #fff;
  max-width: 400px;
  margin: auto;
  padding: 1rem 1rem;
  margin-bottom: 3rem;
}
.contact-section form{
  padding: 15px;
  box-shadow: 0 4px 9px 0 #7c7c7c;
  width: 100%;
}
.contact-section h2 {
text-align: center;
padding: 2rem 3rem;
color: #fa0251;
}
.input-field {
    display: block;
    padding: 0.5rem;
    width: 100%;
}
.contact-section label {
  line-height: 1.5rem;
  font-weight: bold;
}
.send-btn {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.6rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
}

.connect-section {
  background-color: #000;
}
.hero-btns-base {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 3rem;
  letter-spacing: 1px;
  width: 150px;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  font-size: 13px;
  font-weight: bold;
}
.connect-title {
    /* margin-top: 0.8rem; */
    color: #fff;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
}
.connect hr {
    width: 150px;
    border: 1px solid;
    height: 1px;
    margin-top: 15px;
    color: #fff;
}
.connect {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 12px;
    /* margin-left: 3px; */
    
  
}
.connect a {
    margin: 0 5px;
    font-size: larger;
    color: var(--primary-color);
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 40%;
}

.socials svg {
width: 1.3rem;
height: 1.5rem;
animation: animated-icon 3s infinite ease-in-out
}
.socials a {
  color: #fa0251;
  padding: 15px;
}
.socials a:hover {
  opacity: 0.6;
}

footer {
  background-color: #000;
  margin-top: -5px;

}
.copyright {
  padding: 1.5rem;
  text-align: center;
  color: #fff;
  letter-spacing: 0.4px;
}

@keyframes animated-icon {
  0%   {fill: #fa0251;}
  25%  {fill: blue;}
  50%  {fill: white;}
  100% {fill: green;}
}

