@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



/* Variables */
:root {
  --font-family: "Roboto", sans-serif;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --primary-color: #00f9ff;
  --secondary-color: #041633;
}

html {
  scroll-behavior: smooth;
  
}

/* Resetting the browser settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.header {
  background-color: var(--secondary-color);
  height: 100vh;

}

/* Styling the navbar */
nav {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5rem;
  padding-bottom: 0.5rem;
  margin-top: -20px;
}

nav img {
  height: 40px;
}
nav ul {
  display: flex;
  gap: 2.5rem;
}

nav ul a {
  transition: var(--transition);
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}
nav ul a:hover {
  color: var(--primary-color)
}
nav ul a:active{
  border-bottom: 1px solid #fff ;
  padding-bottom: 0.4rem;
}

.menu-container {
  display: none;
}

/* the sidenav menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* styling the close sidenav button */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/* Styling the Hero section */
#hero-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70vw;
  margin: auto;
  gap: 1.3rem;
  padding-top: 11rem;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  margin-top: -3.9rem;
  line-height: 1.7;

}

.intro {
  font-size: larger;
  color: var(--primary-color);
  line-height: 0;
}
.fullname {
  font-size: 45px;
  color: #e5e8e8;
}
.brief {
  text-align: left;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
 line-height: 2.3rem;
}
.current-work {
  font-size: 18px;
}

.hero-btns button {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 1px;
  letter-spacing: 1px;
  width: 150px;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  font-size: 13px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  text-decoration: none;
}
button:hover {
  opacity: 0.8;
}
/* .download-cv {
  background-color: var(--primary-color);
} */
.download-cv a {
  color: var(--primary-color);
  text-decoration: none;
}
.contact-me a {
  color: var(--primary-color);
  text-decoration: none;
}

/* STYLING THE SKILLS SECTION */

.skills {
  background-color: var(--secondary-color)
 }
 
 .skills h4 {
   color: rgba(255, 255, 255, 0.8);
   padding-top: 1.5rem;
   text-align: center;

 }
 .main-skills h5 {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
 }
 .skillname {
  color: rgba(255, 255, 255, 0.8);
  font-size: medium;
 }
 .main-skills i {
  color: var(--primary-color);
 }

 .main-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0.5rem; */
  flex-wrap: wrap;
  margin: auto;
  border: none;
 }
 

 .skill-block {
   padding: 2% 3%;
   width: 34vw;
 }
 
 .web-dev{
   background-color: none;
   border: none;
 }

 .design{
   background-color: none;
   border: none;
 }
 


/* STYLING THE ABOUT SECTION */
.about-section {
  background-color: var(--secondary-color);
}
.about-section h3 {
  text-align: center;
  padding-bottom: 2rem;
  color: rgba(255, 255, 255, 0.8);
}
.about-content {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: auto;
  width: 80vw;
}
.about-section img {
  margin-top: -35px;
  height: 300px;
  opacity: 0.8;
  border-radius: 5px;
}
.about-brief {
  text-align: justify;
  width: 500px;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.4rem;
}
.about-brief button {
  /* margin-top: 0.5rem; */
padding: 0.5rem;
border-radius: 5px;
border: 1px solid var(--primary-color);
background-color: var(--secondary-color);
color: var(--primary-color);
}
.about-brief a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: small;
}

/* styling the image gallery */

#Tiidelab-images h3 {
 color: #fff;
 text-align: center;
 padding-top: 2rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 200px));
  gap: 2rem;
  align-content: center;
  justify-content: center;
 padding: 2rem;
}

.image-grid img {
  max-width: 20rem;
  height: 15rem;
}



/* STYLING THE WORKS SECTION */
.work-section {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
  
}
.work-section h3 {
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem 3rem;
  text-align: center;
}
.work-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-content: center;
  gap: 50px;
  padding: 1.2rem;
  width: 70vw;
}
.work-cards {
  padding: 15px;
  /* box-shadow: 0 4px 9px 0 #7c7c7c; */
  background-color: #1d2d47;
 
  width: 250px;
  text-align: left;
}

.work-cards img {
  /* max-width: 200px; */
  height: 100px;
  width: 100%;
}
.work-cards p {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 5px;
  font-size: 0.9rem;
}
.work-cards h6 {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 1rem;
}
.work-cards h4 {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 1rem;
}
.work-skills {
  text-align: center;
}
.work-skills span {
  font-weight: bold;
  margin-right: 8px;
  /* color: rgb(181, 2, 2); */
  margin-bottom: 2px;
}
.work-cards a,
.work-links {
  text-align: center;
  color: var(--primary-color);
  margin-right: 8px;
}
.work-links a:hover {
  opacity: 0.8;
}
.btn-section {
  display: flex;
  justify-content: center;

}

.all-projects {
margin-top: 2rem;
padding: 0.5rem;
border-radius: 5px;
border: 1px solid var(--primary-color);
background-color: var(--secondary-color);
color: var(--primary-color);
}
.all-projects a {
  text-decoration: none;
  color: var(--primary-color);
}


/* STYLING THE CONTACT FORM */
.connect-section {
  padding-top: 5rem;
}

.contact-form {
  background-color: #fff;
  max-width: 400px;
  margin: auto;
  padding: 1rem 1rem;
  margin-bottom: 3rem;
}
.contact-section form{
  padding: 15px;
  box-shadow: 0 4px 9px 0 #7c7c7c;
  width: 100%;
}
.contact-section h2 {
text-align: center;
padding: 2rem 3rem;
color: rgba(255, 255, 255, 0.9);
}
.input-field {
    display: block;
    padding: 0.5rem;
    width: 100%;
}
.contact-section label {
  line-height: 1.5rem;
  font-weight: bold;
}
.send-btn {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.6rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: var(--primary-color);
}
 
/* STYLING THE GET IN TOUCH SECTION */
.connect-section {
  background-color: var(--secondary-color);
}
.hero-btns-base {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 3rem;
  letter-spacing: 1px;
  width: 150px;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  font-size: 13px;
  font-weight: bold;
}
.connect-title {
    /* margin-top: 0.8rem; */
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
    font-size: 40px;
}
.connect-phrase {
  text-align: center;
  color: var(--primary-color);
}
.message {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.message button {
  padding: 1.2rem 1.5rem;
  border-radius: 9px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}
.message button a {
  color: var(--primary-color);
  text-decoration: none;
}

.connect hr {
    width: 150px;
    border: 1px solid;
    height: 1px;
    margin-top: 15px;
    color: #fff;
}
.connect {
    display: none;
    gap: 10px;
    justify-content: center;
    padding-bottom: 12px;
    /* margin-left: 3px; */
    
  
}
.connect a {
    margin: 0 5px;
    font-size: larger;
    color: var(--primary-color);
}

/* Styling the fixed social icons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 40%;
}

.socials svg {
width: 1.1rem;
height: 1.2rem;
animation: animated-icon 3s infinite ease-in-out
}
.socials a {
  color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}
.socials a:hover {
  opacity: 0.6;
}


footer {
  background-color: var(--secondary-color);
  margin-top: -5px;

}
.copyright {
  padding: 2rem;
  padding-top: 9rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.4px;
}

@keyframes animated-icon {
  0%   {fill: var(--primary-color);}
  25%  {fill: blue;}
  50%  {fill: white;}
  100% {fill: green;}
}

